.mainheading-wrapper {
	background-position: 50% 0;
}
.mainheading-wrapper .heading-content {
	padding: 20px 40px;
	max-width: 1140px;
	margin: 0 auto;
}



.mainheading-wrapper .header_text h1 {
	margin: 0;
}
.mainheading-wrapper .header_text h4 {
	margin: 10px 0 0 0;
}

.heading-align-left .heading-text-wrapper {
	float: left;
	max-width: 85%;
	text-align: left;
}
.heading-align-center .heading-text-wrapper {
	text-align: center;
}
.heading-align-right .heading-text-wrapper {
	float: right;
	max-width: 85%;
	text-align: right;
}
.heading-align-left .heading-back-button-wrapper {
	float: right;
}
.heading-align-center .heading-back-button-wrapper {
	display: block;
}
.heading-align-right .heading-back-button-wrapper {
	float: left;
}

.heading-align-left .heading-back-button a {
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: 10px;
	width: 65px;
}
.heading-align-center .heading-back-button {
	text-align: center;
	padding-top: 20px;

}
.heading-align-center .heading-back-button a {
	background: none;
	border: none;
	box-shadow: none;

}
.heading-align-right .heading-back-button a {
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: 10px;
	width: 65px;
}


/* rtl style  */

.direction-rtl .heading-text-wrapper {
	float: right;
}
.direction-rtl .heading-back-button-wrapper {
	float: left;
}
.direction-rtl .heading-back-button a {
	left: 0px;
	right: auto;
}

@media (max-width: 768px) {
	.heading-text-wrapper {
		max-width: 100%;
		float: none;
	}
	.mainheading-wrapper .heading-content {
		padding-left: 20px;
		padding-right: 20px;
	}
	.heading-back-button-wrapper {
		float: none;
	}
	.heading-back-button {
		margin: 20px 0 10px 0;
	}
	.heading-back-button a {
		position: relative;
		top: auto;
		margin: 0px;
	}
}

/* Only phones */
@media (max-width: 480px) {	
	
}